@import 'styles/common';

.dropDown {
  @extend .flexCol;
  width: 100%;
  max-width: 750px;
  height: 44px;
  background: #1eaaff;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;

  .header {
    @extend .alignCen;
    justify-content: space-between;
    width: 100%;
    padding: 10px 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    user-select: none;

    .colorPicker {
      @extend .alignCen;
      gap: 1rem;
      position: relative;

      .input {
        @extend .clearStl;
        width: 150px;
        padding: 0 5px;
        border-radius: 5px;
      }

      .tooltip {
        padding: 10px 5px;
        font-size: 1.1rem;
      }
    }
  }

  .container {
    @extend .alignCen;
    gap: 1rem;
    width: 100%;
    padding: 10px 1rem;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .imgContainer {
      @extend .flexCenter;
      min-width: 70px;
      height: 70px;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      background: #fff;
      overflow: hidden;

      @media (hover: hover) {
        &:hover {
          outline: 5px solid #1e90ff;
        }
      }

      &.active {
        border: 3px dashed #1e90ff;
      }
    }
  }
}

.noColorPicker .header {
  margin-bottom: 2px;
}

.expand {
  height: 150px;
  overflow: visible !important;

  .header {
    .icon {
      transform: rotate(-180deg);
      transition: all 0.25s;
    }
  }

  .container {
    margin-top: 0;
  }
}

@media screen and (max-width: 515px) {
  .dropDown {
    // width: 310px;

    .header .colorPicker .input {
      width: 6.25rem;
    }

    .container {
      gap: 10px;
      padding: 10px;
    }
  }
}
