@import "styles/common";

.dropDown {
  @extend .flexCol;
  width: 350px;
  height: 44px;
  background: #1eaaff;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;

  .header {
    @extend .alignCen;
    justify-content: space-between;
    width: 100%;
    padding: 10px 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    user-select: none;
  }

  .container {
    @extend .alignCen;
    gap: 1rem;
    width: 100%;
    padding: 10px 1rem;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .imgContainer {
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: #1e90ff;
      }
    }
  }
}

.expand {
  height: 170px;

  .header .icon {
    transform: rotate(-180deg);
    transition: all 0.25s;
  }

  .container {
    margin-top: 0;
  }
}
