@import "styles/common";

.dropDown {
  @extend .flexCol;
  width: 350px;
  height: 44px;
  background: #1eaaff;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;

  .header {
    @extend .alignCen;
    justify-content: space-between;
    width: 100%;
    padding: 10px 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    user-select: none;

    .colorPicker {
      @extend .alignCen;
      gap: 1rem;
      position: relative;

      .input {
        width: 80px;
        outline: none;
        border: none;
        padding: 0 5px;
        border-radius: 5px;
      }

      .tooltip {
        width: 135px;
        padding: 10px 5px;
        font-size: 1.1rem;
      }
    }
  }

  .container {
    @extend .alignCen;
    gap: 1rem;
    width: 100%;
    padding: 10px 1rem;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .imgContainer {
      @extend .flexCenter;
      min-width: 70px;
      height: 70px;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      background: #fff;
      overflow: hidden;

      &:hover {
        outline: 5px solid #1e90ff;
      }
    }
  }
}

.expand {
  height: 150px;
  overflow: visible !important;

  .header {
    .icon {
      transform: rotate(-180deg);
      transition: all 0.25s;
    }
  }

  .container {
    margin-top: 0;
  }
}

@media screen and (max-width: 515px) {
  .dropDown {
    width: 310px;

    .container {
      gap: 0;
      padding: 10px;
    }
  }
}
