@import 'styles/common';

.faq {
  @extend .flexCol;
  @extend .full;
  max-width: 800px;
  border-top: 2px solid #3333;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  .header {
    @extend .justifyBtw;
    color: #202124;
    padding: 1rem 0;
    cursor: pointer;

    svg {
      transform: rotate(-90deg);
      transition: all 0.3s ease-in-out;
    }
  }

  .body {
    max-height: 0;
    opacity: 0;
    padding: 0 10px;
    line-height: 1.5rem;
    color: rgb(104, 103, 108);
    transition: all 0.3s ease-in-out;
  }
}

.expand {
  .headerExpand svg {
    transform: rotate(0);
  }

  .body {
    max-height: 700px;
    opacity: 1;
    padding-bottom: 1rem;
  }
}
