@import "styles/common";

.btn {
  outline: none;
  border: none;
  @extend .flexCenter;
  gap: 5px;
  background: #1e90ff;
  color: #fff;
  padding: 10px 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: #1e40af;
  }
}

.darkBtn {
  background: #2563eb;

  &:hover {
    background-color: #1d4ed8;
  }
}

@media screen and (max-width: 640px) {
  .btn {
    margin-right: 10px;
  }
}
