@import "styles/common";

.btn {
  @extend .clearStl;
  @extend .flexCenter;
  gap: 5px;
  color: #fff;
  padding: 10px 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.primary {
  background: #1e90ff;

  &:hover {
    background: #1976d2;
  }
}

.secondary {
  background: #059862;

  &:hover {
    background: #048051;
  }
}

.danger {
  background: #ff000099;

  &:hover {
    background: #ff0000;
  }
}

.signup {
  gap: 10px;
  min-width: 150px;
  max-width: 200px;
  width: 100%;
  background: #fff;
  color: #202124;
  padding: 10px 0;
  border: 1px solid #e5e7eb;
  font-weight: 500;

  &:hover {
    background: #f8f8f8;
  }

  &:active {
    outline: 3px solid #e5e7eb;
  }
}

.darkBtn {
  background: #2563eb;

  &:hover {
    background-color: #1d4ed8;
  }
}
