@import "styles/common";

.btn {
  outline: none;
  border: none;
  @extend .flexCenter;
  gap: 5px;
  color: #fff;
  padding: 10px 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.primary {
  background: #1e90ff;

  &:hover {
    background: #1976d2;
  }
}

.secondary {
  background: #059862;

  &:hover {
    background: #048051;
  }
}

.danger {
  background: #ff000099;

  &:hover {
    background: #ff0000;
  }
}

.darkBtn {
  background: #2563eb;

  &:hover {
    background-color: #1d4ed8;
  }
}
