@import "styles/common";

.form {
  @extend .flexColCen;
  height: 100%;

  .formTitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #444;
  }

  form {
    @extend .flexColCen;
    gap: 1rem;
    height: 100%;
  }
}
