@import "styles/common";

.formContainer {
  height: 100%;

  .title {
    color: #555;
    text-align: center;
    @extend .flexCenter;
    gap: 10px;

    .text {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .form {
    @extend .flexColCen;
    gap: 2rem;
    margin-top: 2rem;
    height: calc(100% - 4rem);

    .btnContainer {
      @extend .flexCenter;
      width: 100%;
    }
  }

  .vcardForm {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5rem 1rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
