@import "styles/common";

.faqSection {
  @extend .flexColCen;
  padding: 3rem 1rem 4rem;
  font-size: 1.5rem;

  h2 {
    margin-bottom: 4rem;
  }

  .faq {
    border-bottom: 2px solid #3333;
  }
}
