@import "styles/common";

.result {
  position: relative;
  @extend .flexColCen;
  max-width: 700px;
  width: 100%;
  height: 500px;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;

  .backBtn {
    position: absolute;
    @extend .clearStl;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    color: #444;
    top: 2%;
    left: 3%;

    .tooltip {
      font-size: 1rem;
      font-weight: 600;
    }

    &:hover {
      background: #ddd;
    }
  }

  h2 {
    font-weight: 500;
    color: #666;
  }

  .data {
    @extend .flexColCen;
    @extend .full;
    padding: 10px 0;
    font-size: 1.2rem;
    color: #444;
    white-space: pre-wrap;

    .link {
      position: relative;
      @extend .alignCen;
      gap: 10px;
      border-radius: 8px;
      padding: 5px 10px;
      background: #ddd;
      bor svg {
        transition: all 0.2s;
      }

      &:hover {
        background: #ccc;

        svg {
          transform: scale(1.1);
        }
      }
    }
  }
}
