@import "styles/common";

.customizer {
  @extend .flexCol;
  align-items: center;
  gap: 1rem;
  width: 400px;
  min-height: 80vh;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 2rem;
  background: #fff;

  .preview {
    height: 40%;
    @extend .flexCenter;
  }

  .container {
    @extend .flexCol;
    justify-content: flex-start;
    gap: 10px;
    height: 55%;
    padding-top: 1rem;
    overflow: visible;
    margin-top: 2rem;

    .radioInputs {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin: 12px auto 0 auto;
      border-radius: 0.5rem;
      background-color: #eee;
      box-sizing: border-box;
      box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
      padding: 0.25rem;
      width: 300px;
      font-size: 1rem;

      .radio {
        flex: 1 1 auto;
        text-align: center;

        input {
          display: none;
        }

        .label {
          @extend .flexCenter;
          border-radius: 0.5rem;
          border: none;
          padding: 0.5rem 0;
          color: #334155;
          transition: all 0.15s ease-in-out;
          cursor: pointer;
        }

        input:checked + .label {
          background: #1e90ff;
          font-weight: 600;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 510px) {
  .customizer {
    width: 350px;
  }
}
