@import 'styles/common';

.inputContainer {
  @extend .flexColCen;
  background: #fff;
  border-radius: 12px;
  max-width: 800px;
  min-width: 340px;
  width: 100%;
  height: 80vh;
  padding: 2rem 1rem;

  .imgContainer {
    @extend .flexCenter;
    padding-top: 2rem;
    border-top: 2px solid #ccc;
    width: 100%;
  }

  .btnContainer {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 510px) {
  .inputContainer {
    padding: 1rem 5px;
  }
}
