@import 'styles/common';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #e5e7eb;
  z-index: 20;
  overflow: hidden;
  transition: all 0.25s;

  .container {
    max-width: 1280px;
    @extend .alignCen;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1rem;

    .logo {
      @extend .alignCen;

      .logoName {
        align-self: center;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        white-space: nowrap;
      }
    }

    .right {
      display: flex;

      .expandBtn {
        @extend .clearStl;
        display: inline-flex;
        align-items: center;
        padding: 8px;
        margin-left: 10px;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #6b7280;
        border-radius: 8px;
        cursor: pointer;

        .srOnly {
          @extend .srOnly;
        }

        .icon {
          width: 1.5rem;
          height: 1.5rem;
        }

        @media (hover: hover) {
          &:hover {
            background-color: #f3f4f6;
          }
        }
      }
    }

    .navList {
      align-items: center;
      justify-content: space-between;
      width: 100%;

      ul {
        @extend .flexCol;
        padding: 5px 10px;
        margin-top: 1rem;
        font-weight: 500;
        border: 1px solid #f3f4f6;
        border-radius: 8px;
        background-color: #f9fafb;
        list-style: none;

        li {
          .link {
            display: block;
            padding: 8px 1rem 8px 12px;
            color: #111827;
            border-radius: 0.5rem;

            @media (hover: hover) {
              &:hover {
                background-color: #f3f4f6;
              }
            }

            &:active {
              background-color: #f3f4f6;
            }
          }

          .active {
            color: #1d4ed8;
          }
        }
      }
    }
  }
}

.expandNav {
  height: 275px;
}

.hideNav {
  animation: hideNav 0.3s forwards;
}

.showNav {
  animation: showNav 0.3s forwards;
  display: block;
}

@media (min-width: 640px) {
  .nav .container {
    .right {
      order: 2;

      .expandBtn {
        display: none;
      }
    }

    .navList {
      display: flex;
      width: auto;
      order: 1;

      ul {
        padding: 0;
        flex-direction: row;
        margin-left: 2rem;
        margin-top: 0;
        border: none;
        background: #fff;

        .link {
          padding: 0;

          @media (hover: hover) {
            &:hover {
              background: transparent;

              color: #1d4ed8;
            }
          }
        }
      }
    }
  }
}

@keyframes hideNav {
  from {
    transform: translateY(0);
    opacity: 1;
    display: block;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}

@keyframes showNav {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
