@import "styles/common";

.fileUploader {
  max-width: 600px;
  width: 100%;
  @extend .flexCol;
  gap: 1rem;

  .or {
    font-size: 1.2rem;
    color: #888;
  }

  .other {
    @extend .alignCen;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;

    .input {
      border: none;
      outline: none;
      max-width: 350px;
      width: 100%;
      padding: 9px;
      color: #555;
      font-size: 1.1rem;
      border: 1px solid #1e90ff;
      border-radius: 8px;
    }
  }

  .captureBtn {
    @extend .flexCenter;
    gap: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .fileUploader .other {
    flex-direction: column;
  }
}
