@import 'styles/common';

.home {
  position: relative;
  @extend .flexColCen;
  @extend .fullView;
  padding-bottom: 400px;
}

.generator {
  position: relative;
  padding-top: 50px;
  padding-bottom: 450px;
  @extend .fullView;

  .container {
    position: relative;
    @extend .alignCen;
    @extend .full;
    padding: 1rem;
    padding-top: 5rem;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .row {
      @extend .flexCenter;
      gap: 1rem;
      @extend .full;
      margin-left: 100px;
    }
  }
}

.aboutPage {
  position: relative;
  @extend .fullView;
  padding-bottom: 350px;

  .aboutContainer {
    @extend .flexCol;
    align-items: center;
    gap: 2.5rem;
    @extend .full;
    padding: 1.5rem;
    padding-top: 100px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .techContainer {
      @extend .flexCol;
      gap: 5rem;
      max-width: 900px;
      width: 100%;
      padding: 1rem;

      .para {
        @extend .flexColCen;
        font-size: 1.3rem;
        gap: 3rem;

        .body {
          color: rgb(0, 0, 0, 0.6);
        }
      }

      .techList {
        @extend .alignCen;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 900px;
        width: 100%;
        padding: 1rem;

        .techItem {
          @extend .flexColCen;
          gap: 10px;
          cursor: pointer;

          .imgContainer {
            @extend .flexCenter;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            transform: scale(0.9);
          }

          .techTitle {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}

.scanner {
  position: relative;
  @extend .alignCen;
  justify-content: space-evenly;
  @extend .fullView;
  padding: 2rem;
  padding-top: 150px;
  padding-bottom: 500px;

  .content {
    @extend .flexCenter;
    width: 100%;
    min-height: 60vh;
  }
}

.contactPage {
  position: relative;
  @extend .flexCenter;
  @extend .fullView;
  padding: 1.5rem;
  padding-top: 120px;
  padding-bottom: 450px;
}

.auth {
  width: 100vw;
  height: 100vh;
  @extend .flexCenter;
  padding: 10px;
  background: url('https://as1.ftcdn.net/v2/jpg/02/11/69/28/1000_F_211692896_EQqAQEHmkQYLQHjeK6AsnSuYksnqqGlv.jpg')
    no-repeat center / cover;
}

@media screen and (max-width: 1100px) {
  .generator .container {
    padding-top: 1rem;

    .row {
      flex-direction: column;
      justify-content: flex-start;
      gap: 5rem;
      padding: 3rem;
    }
  }

  .aboutPage {
    .techList {
      gap: 0 !important;
      justify-content: center !important;

      .techItem {
        transform: scale(0.8);
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .generator .container .row {
    padding: 3rem 0;
  }

  .aboutPage {
    .techItem {
      transform: scale(0.7);
    }
  }
}

@media screen and (max-width: 768px) {
  .aboutPage {
    .techList {
      padding: 10px 0 !important;

      .techItem {
        transform: scale(0.6) !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .generator .container {
    padding: 10px;
    padding-top: 1rem;

    .row {
      margin-left: 80px;
    }
  }

  .aboutPage .aboutContainer {
    padding-right: 8px;
    padding-left: 8px;

    .techContainer {
      padding-right: 0 !important;
      padding-left: 0 !important;
      gap: 1rem;

      .para {
        h2 {
          font-size: 1.5rem;
          text-align: center;
        }

        span {
          font-size: 1.15rem;
          text-align: center;
        }
      }

      .techList {
        padding-right: 0 !important;
        padding-left: 0 !important;
        gap: 0 !important;

        .techItem {
          transform: scale(0.5) !important;

          .imgContainer {
            width: 150px !important;
            height: 150px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .generator .container .row {
    margin-left: 0;
  }

  .scanner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contactPage {
    padding-right: 10px;
    padding-left: 10px;
  }
}
