@import "styles/common";

.wrapper {
  @extend .fullView;
  @extend .flexCol;
  gap: 4rem;

  .generator {
    position: relative;
    height: 100%;

    .container {
      @extend .alignCen;
      @extend .full;
      padding: 1rem;
      padding-top: 5rem;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .row {
        @extend .flexCenter;
        gap: 1rem;
        @extend .full;
        margin-left: 100px;
      }
    }
  }
}

.reader {
  position: relative;
  @extend .alignCen;
  justify-content: space-evenly;
  @extend .fullView;
  padding: 2rem;
}

.contactPage {
  @extend .flexCenter;
  @extend .fullView;
  padding: 1.5rem;
  padding-top: 100px;
}

@media screen and (max-width: 1100px) {
  .generator .container {
    height: max-content;

    .row {
      flex-direction: column;
      justify-content: flex-start;
      gap: 5rem;
      padding: 3rem;
    }
  }
}

@media screen and (max-width: 920px) {
  .generator .container {
    .row {
      padding: 3rem 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .generator .container {
    padding: 10px;
    padding-top: 5rem;

    .row {
      margin-left: 80px;
    }
  }
}

@media screen and (max-width: 500px) {
  .reader {
    padding: 10px;
  }

  .contactPage {
    padding: 10px;
    padding-top: 100px;
  }
}
