@import "styles/common";

.dropbox {
  @extend .flexColCen;
  gap: 1rem;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  height: 500px;
  background: #fff;
  border-radius: 12px;
  color: #999;

  &::before {
    content: "Drag and drop file to Upload \a Supports JPEG, PNG and GIF";
    font-size: 1.1rem;
    line-height: 1.3rem;
    white-space: pre;
  }
}

.draggedOver {
  border: 3px dashed #1e90ff;

  &::before {
    content: "Drop file here";
  }
}

@media screen and (max-width: 500px) {
  .dropbox {
    height: 400px;
  }
}
