.tooltip {
  visibility: hidden;
  width: 110px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  transform: translateX(-40px);
  transition: all 0.3s;
  opacity: 0;

  &::after {
    content: "";
    position: absolute;
    top: 46%;
    right: 100%;
    margin-top: -5px;
    border: 7px solid transparent;
    border-right-color: #000;
  }
}

.visible {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
