.tooltip {
  visibility: hidden;
  width: 110px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  transform: translateX(-40px);
  transition: all 0.3s;
  opacity: 0;
}

.showHook::after {
  content: "";
  position: absolute;
  top: 46%;
  right: 100%;
  margin-top: -5px;
  border: 7px solid transparent;
  border-color: transparent #000 transparent transparent;
}

.right {
  transform: translateX(40px);

  &::after {
    left: 100%;
    border-color: transparent transparent transparent #000;
  }
}

.top {
  transform: translateY(-30px);

  &::after {
    left: 46%;
    top: -20%;
    border-color: transparent transparent #000 transparent;
  }
}

.bottom {
  transform: translateY(30px);

  &::after {
    left: 46%;
    top: 112%;
    border-color: #000 transparent transparent transparent;
  }
}

.visible {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
