@import "styles/common";

.container {
  @extend .flexColCen;
  max-width: 450px;
  width: 100%;
  gap: 1rem;
  padding: 10px;
  background: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  video,
  img {
    position: relative;
    border-radius: 10px;
  }

  .btnContainer {
    @extend .justifyEven;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tooltip {
    width: 160px;
    font-size: 1.1rem;
  }
}
