.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justifyEnd {
  display: flex;
  justify-content: flex-end;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexColCen {
  @extend .flexCol;
  justify-content: center;
  align-items: center;
}

.alignCen {
  display: flex;
  align-items: center;
}

.justifyEven {
  display: flex;
  justify-content: space-evenly;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
