.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justifyEnd {
  display: flex;
  justify-content: flex-end;
}

.justifyCen {
  display: flex;
  justify-content: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.justifyBtw {
  display: flex;
  justify-content: space-between;
}

.flexColCen {
  @extend .flexCol;
  justify-content: center;
  align-items: center;
}

.alignCen {
  display: flex;
  align-items: center;
}

.justifyEven {
  display: flex;
  justify-content: space-evenly;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fullView {
  height: 100vh;
  width: 100vw;
}

.full {
  height: 100%;
  width: 100%;
}

.clearStl {
  outline: none;
  border: none;
}
