@import "styles/common";

.signup {
  @extend .flexColCen;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  min-height: 450px;
  height: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #e5e7eb;

  h2 {
    width: 100%;
    padding-left: 1rem;
    font-size: 1.5rem;
    color: #212121;
  }

  .otherSignIn {
    @extend .flexWrap;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
  }

  .divider {
    position: relative;
    width: 100%;
    border-bottom: 2px solid #e5e7eb;
    margin: 1rem 0;

    &::before {
      content: "or";
      position: absolute;
      @extend .flexCenter;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      font-size: 1.2rem;
      color: #6b7280;
      padding: 0 1.2rem;
    }
  }

  form {
    @extend .flexCol;
    align-items: flex-end;
    gap: 1.2rem;
    max-width: 400px;
    width: 100%;

    .input {
      label {
        font-weight: 500;
        font-size: 1rem;
        color: #111827;
        margin-left: 0;
      }

      input {
        border: 1px solid #d1d5db;
        background: #f9fafb;
        color: #454d50;

        &:focus {
          border: 2px solid #2563eb;
        }
      }
    }

    button {
      margin: 10px 0;
    }
  }

  .forgotPass {
    color: #2563eb;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .desc {
    width: 100%;
    margin-left: 10px;
    color: #7a808c;
  }
}
