@import "styles/common";

.section {
  @extend .flexCenter;
  flex-wrap: wrap;
  gap: 5rem;
  min-height: 700px;
  height: 100%;
  width: 100%;
  padding: 0 2rem;

  .text {
    @extend .flexCol;
    justify-content: space-evenly;
    width: 45%;
    padding: 1rem;
    height: 80%;

    .desc {
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.6);
    }
  }

  .imgContainer {
    @extend .flexCenter;
    padding: 2rem 0;
    width: 45%;
    height: 100%;

    .img {
      @extend .full;
      border-radius: 1rem;
    }
  }
}

@media screen and (max-width: 1250px) {
  .section {
    gap: 3rem;
    padding: 0 2rem;

    .text {
      width: 40%;
    }

    .imgContainer {
      width: 55%;
    }
  }
}

@media screen and (max-width: 1010px) {
  .section {
    .text,
    .imgContainer {
      width: 70%;
    }
  }
}

@media screen and (max-width: 800px) {
  .section {
    .text,
    .imgContainer {
      width: 95%;
    }
  }
}

@media screen and (max-width: 550px) {
  .section {
    padding: 0 10px;

    .text,
    .imgContainer {
      width: 100%;
    }

    .text {
      .desc {
        padding: 1rem 0;
      }
    }
  }
}
